@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  /* border: 2px solid red; */
  font-family: 'Playpen Sans', cursive;
  font-weight: 100;
  padding: 0px 20px;
  border-bottom: rgb(157, 156, 156) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
}

header nav a {
  color: rgb(24, 24, 24);
  font-size: 25px;
  padding: 0px 10px;
  text-decoration: none;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐶</text></svg>") 16 0, auto;
}

main {
  display: flex;
  justify-content: space-around;
}

main section {
  padding: 30px 40px 0px;
}

aside {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

select {
  border: 1px solid silver;
  width: 180px;
  margin: 8px 4px;
  border-radius: 5px;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐶</text></svg>") 16 0, auto;
}

select:focus {
  outline: 1px solid rgb(22, 111, 236);
}

#pictures {
  width: 65%;
}

#images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#images div img {
  width: 150px;
  height: 150px;
  padding: 10px;
  object-fit: cover;
  transition: transform 400ms ease;
}

#images div img:hover {
  transform: scale(1.1);
  background-color: rgb(216, 169, 74);
  cursor: pointer;
}

.categoryTitle {
  width: 100%;
  margin: 20px 0px;
  text-align: center;
}

#pictures h4 {
  text-align: center;
  color: rgb(163, 167, 167);
  font-size: 14px;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info div img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 80px;
}

#info div {
  margin-bottom: 7px;
}